@use "./../../assets/variables.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px auto;

  @include breakpoint(md) {
    flex-direction: row;
    justify-content: center;
  }

  .socialMedia {
    display: none;
    flex-flow: wrap column;
    width: 100px;
    height: 400px;
    @include breakpoint(md) {
      display: flex;
    }

    .circle {
      margin: 10px 0;
      height: 45px;
      width: 45px;
      background: #fab73a2c;
      border-radius: 50%;

      display: flex;
      justify-content: center;
      align-items: center;
      .icon {
        height: 15px;
      }
    }

    .follow {
      transform: rotate(-90deg);
      translate: -40px 20px;
    }
  }

  .text {
    display: flex;
    flex-flow: wrap column;
    align-items: center;

    @include breakpoint(md) {
      align-items: start;
    }
    .title {
      font-size: 30px;
      line-height: 44px;
      text-align: center;
      font-weight: 400;
      width: fit-content;
      height: fit-content;

      @include breakpoint(md) {
        font-size: 50px;
        text-align: start;
        line-height: 80px;
        margin: 0;
      }
    }

    .description {
      text-align: center;
      font-size: 18px;
      color: rgb(142, 152, 159);
      max-width: 470px;
      @include breakpoint(md) {
        text-align: left;
        font-size: 16px;
        margin: 0;
        line-height: 28px;
        margin: 30px 0;
      }
    }

    .button {
      margin-bottom: 8px;
      font-size: 16px;
      padding: 12px 25px;
      border-color: $light;
      border-style: none;
      border-radius: 4px;
      color: $light;
      font-weight: 600;
      background: linear-gradient(
        90deg,
        rgb(250, 181, 54) 0%,
        rgb(246, 200, 113) 100%
      );
      filter: blur(0px) grayscale(0%) brightness(100%);

      .button:hover {
        filter: blur(0px) grayscale(0%) brightness(120%);
        background: linear-gradient(
          90deg,
          rgb(246, 200, 113) 100% rgb(250, 181, 54) 0%
        );
      }

      @include breakpoint(md) {
        line-height: 40px;
        padding: 4px 25px;
        margin-bottom: 100px;
      }
    }
  }

  .img {
    width: 265px;
    height: 182px;

    @include breakpoint(md) {
      width: 869px;
      height: 597px;
    }
  }
}
