@use "../../assets/variables.scss" as *;

.card {
  padding: 1.875rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 3.125rem 0 rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 1.875rem;
  margin-inline: 1rem;
  background: $light;
  transition: all 0.5s ease-in-out;

  &::before {
    border-radius: 4px;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    background-image: -webkit-linear-gradient(0deg, #6d73ef, #a378fc);
  }

  &::after {
    content: "";
    background: url(../../assets/background/background-after.png);
    display: inline-block;
    position: absolute;
    right: 10px;
    width: 95px;
    height: 95px;
    bottom: 10px;
  }

  @include breakpoint(xs) {
    display: flex;
  }

  .circle {
    min-width: 5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-image: linear-gradient(90deg, #fff, #1733c3);
    opacity: 0.2;
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint(xs) {
      margin-right: 2rem;
    }
  }

  .text {
    .title {
      font-size: 1.3rem;
      font-weight: 400;

      @include breakpoint(xs) {
        margin-top: 0;
      }
    }

    .description {
      transition: color 0.5s ease-in-out;
      color: $text-gray;
    }
  }

  &:hover {
    color: white;
    background: transparent;
    box-shadow: 0 10px 20px 0 rgba(139, 118, 246, 0.4);

    .description {
      color: white;
    }

    &::before {
      opacity: 1;
    }
  }
}
