@use "/src/assets/variables.scss" as *;

.content {
  height: 300px;
  width: 300px;
  border: 2px $orange solid;
  border-radius: 12px;
  margin: 15px auto;
  align-items: center;
  justify-content: center;
  display: flex;
}
