@use "./../../assets/variables.scss" as *;

.header {
  width: 100vw;
  background: transparent;
  position: sticky;
  top: 0;
  transition: all 0.5s ease-in-out;

  &.isScrolled {
    background-color: $light;
  }

  &__content {
    background: transparent;
    height: $headerHeight + 20px;
    padding: 10px 15px;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1170px;
    display: flex;

    @include breakpoint(md) {
      flex-direction: row;
      justify-content: space-between;
    }

    &__logo {
      height: $headerHeight;
      width: fit-content;
    }

    &__nav {
      padding: 0;
      margin: 0;
      flex-direction: column;

      @include breakpoint(md) {
      }
      ul {
        position: fixed;
        top: 78px;
        left: 0;
        height: fit-content;
        width: 100%;
        transition: 1s;

        transform: translateY(-100vh);
        background: transparent;

        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0 10px;
        align-items: center;

        @include breakpoint(md) {
          transform: none;
          top: 0;
          position: relative;
          flex-direction: row;
          text-align: center;
          margin: 0 auto;
          width: fit-content;
          display: flex;
        }
        li {
          font-size: 16px;
          padding: 1rem;

          @include breakpoint(md) {
          }

          &:hover {
            color: $orange;
          }
        }
      }

      &.isMenu {
        ul {
          transform: none;
        }
      }
    }

    &__toggle {
      cursor: pointer;
      position: absolute;
      top: calc(($headerHeight/2) - 12.5px);
      right: 1.5rem;
      font-size: 2.5rem;
      transition: 0.5s ease all;

      &:hover {
        color: $orange;
      }

      @include breakpoint(md) {
        display: none;
      }
    }
  }
}
