@use "../../assets/variables.scss" as *;

.container {
  position: relative;

  .background {
    position: absolute;
    opacity: 0.5;
    max-width: 100%;
    width: 790px;
    top: 0;
    left: -30%;
    rotate: 180deg;
    z-index: -1;
    animation: bounces 2s infinite alternate;

    @include breakpoint(md) {
      inset: 0;
    }

    @include breakpoint(lg) {
      inset: 0;
      left: 20%;
    }

    @keyframes bounces {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-25px);
      }
    }
  }

  .title {
    width: fit-content;
    margin-inline: auto;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
    padding-inline: 2rem;
    max-width: 46.875rem;
    color: $dark;

    @include breakpoint(md) {
      font-size: 2.4rem;
      line-height: 1.5rem;
    }
  }

  .description {
    width: fit-content;
    max-width: 46.875rem;
    margin-inline: auto;
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    color: $text-gray;
    line-height: 1.9rem;
    padding-inline: 1.3rem;
    margin-bottom: 3rem;
  }

  .wrapper {
    @include breakpoint(lg) {
      display: grid;
      justify-content: center;
      //grid-template-columns: repeat(2, 587px); //470
      grid-template-columns: repeat(2, minmax(460px, 587px)); //470
    }
  }
}
