//@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

//$Poppins: "Poppins", sans-serif;
$Poppins: "Roboto", sans-serif;

$gray: #4d4d4d;
$orange: #fab63a;
$light-orange: #fdf7ee;
$green: #c0cdbc;
$dark: rgb(29, 29, 29);
$light: #fff;
$text-gray: rgb(142, 152, 159);

$spacing-md: 16px;
$spacing-lg: 32px;

$headerHeight: 52px;

@mixin breakpoint($point) {
  @if $point == xs {
    @media (min-width: 21.875rem) {
      @content;
    }
  }
  @if $point == s {
    @media (min-width: 32rem) {
      @content;
    }
  }
  @if $point == md {
    @media (min-width: 48em) {
      //768px
      @content;
    }
  }
  @if $point == lg {
    @media (min-width: 62rem) {
      //992px
      @content;
    }
  }
}
