@use "./../../assets/variables.scss" as *;

.header {
  width: 100%;
  position: sticky;
  top: 0;
  transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  z-index: 100;
  animation: slide-left 1s ease-in-out;

  &.isScrolled {
    background-color: $light;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  }

  &.isMenu {
    background-color: $light;
  }

  &__content {
    background: transparent;
    padding: 10px 15px;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: $headerHeight;
    @include breakpoint(xs) {
      height: $headerHeight + 20px;
    }

    @include breakpoint(md) {
      flex-direction: row;
      justify-content: space-between;
    }

    &__logo {
      z-index: 5;
      height: 30px;
      width: fit-content;
      align-self: center;
      @include breakpoint(xs) {
        height: calc($headerHeight - 10px);
        width: fit-content;
        align-self: center;
      }
    }

    &__nav {
      padding: 0;
      margin: 0;
      flex-direction: column;

      @include breakpoint(md) {
      }
      ul {
        position: fixed;
        left: 0;
        width: 100%;
        transition: 1s;
        top: 50px;
        z-index: 90;
        transform: translateY(-100vh);
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 0 0 10px 0;
        margin: 0;
        align-items: center;
        overflow: hidden;

        @include breakpoint(xs) {
          top: 70px;
        }

        @include breakpoint(md) {
          transform: none;
          top: 0;
          position: relative;
          flex-direction: row;
          text-align: center;
          margin: 0 auto;
          width: fit-content;
          display: flex;
        }
        li {
          font-size: 16px;
          padding: 1rem;
          position: relative;

          @include breakpoint(md) {
          }

          &:hover {
            color: $orange;
          }

          &:not(:last-child)::before {
            content: "";
            text-decoration: underline;
            bottom: 10%;
            position: absolute;
            right: 18%;
            width: 0;
            height: 2px;
            background-color: transparent;
            transition: width 0.5s ease-in-out 0s;
          }

          &:hover::before {
            width: calc(100% - 2rem);
            background-color: $orange;
          }
        }
      }

      .subBtn {
        padding: 12px 25px;
        text-decoration: none;
        border-color: $light;
        border-style: none;
        border-radius: 4px;
        color: $light;
        font-weight: 400;
        background: linear-gradient(
          90deg,
          rgb(250, 181, 54) 0%,
          rgb(246, 200, 113) 100%
        );
        filter: blur(0px) grayscale(0%) brightness(100%);

        &:hover {
          filter: blur(0px) grayscale(0%) brightness(120%);
          background: linear-gradient(
            90deg,
            rgb(246, 200, 113) 100% rgb(250, 181, 54) 0%
          );
          cursor: pointer;
        }
      }

      &.isMenu {
        ul {
          transform: none;
          background: $light;
          z-index: 4;
          box-shadow: 0 20px 30px -10px rgba(200, 167, 70, 0.2);
        }
      }
    }

    &__toggle {
      cursor: pointer;
      position: absolute;
      transition: display 0.5s ease;
      top: 0.5rem;
      right: 1rem;
      font-size: 2.3rem;

      @include breakpoint(xs) {
        top: calc(($headerHeight/2) - 12.5px);
        right: 1.8rem;
        font-size: 2.5rem;
      }

      &:hover {
        color: $orange;
      }

      @include breakpoint(md) {
        display: none;
      }
    }
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-200vh);
  }
  100% {
    transform: translateX(0);
  }
}
