@use "/src/assets/variables.scss" as *;

* {
  box-sizing: border-box;
}

body {
  color: $gray;
  margin: 0;
  margin-inline: auto;
  padding: 0;
  font-family: $Poppins;
  width: 100vw;
  max-width: 100%;
}

::selection {
  background: $orange;
  color: $light;
  text-shadow: none;
}
