@use "/src/assets/variables.scss" as *;

* {
  box-sizing: border-box;
}

body {
  color: $gray;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: $Poppins;
  height: 100vh;
  white-space: pre-wrap;
  overflow-x: hidden;
}

::selection {
  background: $orange;
  color: $light;
  text-shadow: none;
}
